absl-py==2.1.0  # Check compatibility if needed
altair==5.4.1    # Check compatibility if needed
annotated-types==0.7.0
anyio==4.6.0     # Check compatibility if needed
astunparse==1.6.3
attrs==24.2.0
blinker==1.8.2
blis==1.0.1      # Check compatibility if needed
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudpathlib==0.19.0
colorama==0.4.6
confection==0.1.5
cymem==2.0.8      # Check compatibility if needed
distro==1.9.0     # Check compatibility if needed
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
filelock==3.16.1
flatbuffers==24.3.25
fsspec==2024.9.0  # Check compatibility if needed
gast==0.6.0       # Check compatibility if needed
gitdb==4.0.11     # Check compatibility if needed
GitPython==3.1.43  # Check compatibility if needed
google-pasta==0.2.0
grpcio==1.66.2    # Check compatibility if needed
h11==0.14.0       # Check compatibility if needed
h5py==3.12.1      # Check compatibility if needed
httpcore==1.0.6    # Check compatibility if needed
httpx==0.27.2     # Check compatibility if needed
huggingface-hub==0.25.2  # Check compatibility if needed
idna==3.10        # Check compatibility if needed
Jinja2==3.1.4
jiter==0.6.1      # Check compatibility if needed
joblib==1.4.2     # Check compatibility if needed
jsonschema==4.23.0
jsonschema-specifications==2023.12.1